# Rename this file to secrets.toml and put it inside a folder called .streamlit in the root of the project
# In the streamlit cloud, copy and paste the content of this file into the secrets section of the app settings
# Use the str_auth.py file to generate the password hashes for the users you want to add to the app

[cookie]
expiry_days = 30
key = "some_signature_key"
name = "some_cookie_name"

[credentials]
usernames = {"dbaldwin" = {email = "dbaldwin@gmail.com", name = "David Baldwin", password = "$2b$12$L035ey6vkdHW6523PDg24ezWgKB2mEeI7ARaonKcLoXNOg6wtCGc."}, "jsmith" = {email = "jsmith@gmail.com", name = "John Smith", password = "$2b$12$L035ey6vkdHW6523PDg24ezWgKB2mEeI7ARaonKcLoXNOg6wtCGc."}}

[preauthorized]
emails = ["256melsby@gmail.com"]